@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #fd5fae;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $blue;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// Component Styles --------------------------------

// Navbar

$navbar-box-shadow-size: 0 3px 0 0;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";

// Custom Styles
.is-centered {
  justify-content: center;
}
figure.avatar {
  margin: 0 auto 2rem;
}
figure .is-rounded {
  border-radius: 50%;
}
.navbar-brand .navbar-item {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  margin-left: 0;
  font-weight: 600;
  border-radius: 0;
}

.navbar-item {
  text-align: center;
  display: flex;
  justify-content: center;
}
a.navbar-item {
  border-radius: 30px;
  text-align: center;
  width: 100px;
}
.button {
  color: white;
  text-transform: capitalize;
}
.button:hover {
  color: white;
  box-shadow: 0 3px 6px rgba($color: #333, $alpha: 0.4);
}

#work {
  .box {
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}

// Section Styles
.section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#skills {
  .section {
    padding: 0.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
#contact {
  .button {
    text-transform: capitalize;
    padding: 1.5rem 3rem;
    margin: 2rem;
    cursor: pointer;
    background: none;
    border-radius: 500px;
    &.twitter {
      background: #1da1f2;
      color: #fff;
    }
    &.linkedin-in {
      background: #0077b5;
      color: #fff;
    }
    &.github {
      background:  #333;
      color: #fff;
    }
  }
}